*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Dela Gothic One', cursive;
}

header .sfere> div{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
    margin: 10px;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
}

.sfere{    
    position: absolute;
   top: 20px;
   right: 10px;
}    
